In [188]:
import pandas as pd

In [207]:
df = pd.read_csv("data.csv")

In [208]:
# df.head()

In [210]:
df.describe

<bound method NDFrame.describe of     Duration          Date Pulse  Maxpulse  Calories
0         60  '2020/12/01'   110       130     409.1
1         60  '2020/12/02'   117       145     479.0
2         60  '2020/12/03'   103       135     340.0
3         45  '2020/12/04'   109       175     282.4
4         45  '2020/12/05'   117       148     406.0
5         60  '2020/12/06'   102       127     300.0
6         60  '2020/12/07'   110       136     374.0
7        450  '2020/12/08'   104       134     253.3
8         30  '2020/12/09'   109       133     195.1
9         60  '2020/12/10'     b       124     269.0
10        60  '2020/12/11'   103       147     329.3
11        60  '2020/12/12'   100       120     250.7
12        60  '2020/12/12'   100       120     250.7
13        60  '2020/12/13'   106       128     345.3
14        60  '2020/12/14'   104       132     379.3
15        60  '2020/12/15'    98       123     275.0
16        60  '2020/12/16'    98       120     215.2
17        60  '2020/12/17'   100       120     300.0
18        45  '2020/12/18'    90       112       NaN
19        60  '2020/12/19'   103       123     323.0
20        45  '2020/12/20'    97       125     243.0
21        60  '2020/12/21'   108       131     364.2
22        45   2020/12/22'   100       119     282.0
23        60  '2020/12/23'   130       101     300.0
24        45  '2020/12/24'   105       132     246.0
25        60  '2020/12/25'   102       126     334.5
26        60   2020/12/26'   100       120     250.0
27        60  '2020/12/27'    92       118     241.0
28        60  '2020/12/28'   103       132       NaN
29        60  '2020/12/29'   100       132     280.0
30        60  '2020/12/30'   102       129     380.3
31        60  '2020/12/31'    92       115     243.0>

In [205]:
# Check the null value in dataset.
# df.isnull()
df.isna().sum()

Name       0
Email      0
Phone      0
Address    0
dtype: int64

In [194]:
# Fill the null value with specific value
df.fillna(130, inplace = True)

In [195]:
# Describe the dataset
print(df)

    Duration          Date Pulse  Maxpulse  Calories
0         60  '2020/12/01'   110       130     409.1
1         60  '2020/12/02'   117       145     479.0
2         60  '2020/12/03'   103       135     340.0
3         45  '2020/12/04'   109       175     282.4
4         45  '2020/12/05'   117       148     406.0
5         60  '2020/12/06'   102       127     300.0
6         60  '2020/12/07'   110       136     374.0
7        450  '2020/12/08'   104       134     253.3
8         30  '2020/12/09'   109       133     195.1
9         60  '2020/12/10'     b       124     269.0
10        60  '2020/12/11'   103       147     329.3
11        60  '2020/12/12'   100       120     250.7
12        60  '2020/12/12'   100       120     250.7
13        60  '2020/12/13'   106       128     345.3
14        60  '2020/12/14'   104       132     379.3
15        60  '2020/12/15'    98       123     275.0
16        60  '2020/12/16'    98       120     215.2
17        60  '2020/12/17'   100       120     300.0
18        45  '2020/12/18'    90       112     130.0
19        60  '2020/12/19'   103       123     323.0
20        45  '2020/12/20'    97       125     243.0
21        60  '2020/12/21'   108       131     364.2
22        45   2020/12/22'   100       119     282.0
23        60  '2020/12/23'   130       101     300.0
24        45  '2020/12/24'   105       132     246.0
25        60  '2020/12/25'   102       126     334.5
26        60   2020/12/26'   100       120     250.0
27        60  '2020/12/27'    92       118     241.0
28        60  '2020/12/28'   103       132     130.0
29        60  '2020/12/29'   100       132     280.0
30        60  '2020/12/30'   102       129     380.3
31        60  '2020/12/31'    92       115     243.0

In [24]:
# Drop row having null value
df.dropna(inplace = True)

In [50]:
# fill specific column having null value
df.fillna({'Calories': 120}, inplace = True)

In [58]:
x = df["Calories"].mean()

In [64]:
df.fillna({'Calories': x}, inplace = True)

In [100]:
# Removing wrong format

In [196]:
df['Pulse'] = pd.to_numeric(df['Pulse'], errors='coerce')
# Use pd.to_numeric with errors='coerce' to convert invalid values to NaN

In [197]:
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
9         60  '2020/12/10'    NaN       124     269.0
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     130.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45   2020/12/22'  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60   2020/12/26'  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     130.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [200]:
df.dropna(subset=['Pulse'], inplace = True)
# Drop rows where 'Pulse' column has NaN values
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        450  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     130.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45   2020/12/22'  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60   2020/12/26'  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     130.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [127]:
p = df.loc[7, 'Duration']

In [136]:
df.loc[7, 'Duration'] = 45
# Row and lebel based indexing

In [138]:
print(p)

44.0

In [201]:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120
    print(x)

7

In [202]:
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'  110.0       130     409.1
1         60  '2020/12/02'  117.0       145     479.0
2         60  '2020/12/03'  103.0       135     340.0
3         45  '2020/12/04'  109.0       175     282.4
4         45  '2020/12/05'  117.0       148     406.0
5         60  '2020/12/06'  102.0       127     300.0
6         60  '2020/12/07'  110.0       136     374.0
7        120  '2020/12/08'  104.0       134     253.3
8         30  '2020/12/09'  109.0       133     195.1
10        60  '2020/12/11'  103.0       147     329.3
11        60  '2020/12/12'  100.0       120     250.7
12        60  '2020/12/12'  100.0       120     250.7
13        60  '2020/12/13'  106.0       128     345.3
14        60  '2020/12/14'  104.0       132     379.3
15        60  '2020/12/15'   98.0       123     275.0
16        60  '2020/12/16'   98.0       120     215.2
17        60  '2020/12/17'  100.0       120     300.0
18        45  '2020/12/18'   90.0       112     130.0
19        60  '2020/12/19'  103.0       123     323.0
20        45  '2020/12/20'   97.0       125     243.0
21        60  '2020/12/21'  108.0       131     364.2
22        45   2020/12/22'  100.0       119     282.0
23        60  '2020/12/23'  130.0       101     300.0
24        45  '2020/12/24'  105.0       132     246.0
25        60  '2020/12/25'  102.0       126     334.5
26        60   2020/12/26'  100.0       120     250.0
27        60  '2020/12/27'   92.0       118     241.0
28        60  '2020/12/28'  103.0       132     130.0
29        60  '2020/12/29'  100.0       132     280.0
30        60  '2020/12/30'  102.0       129     380.3
31        60  '2020/12/31'   92.0       115     243.0

In [169]:
# for x in df.index:
#   if df.loc[x, "Duration"] > 120:
#     df.drop(x, inplace = True)

In [171]:
# Removing Duplication
# print(df.duplicated())

In [172]:
df.drop_duplicates(inplace = True)
# Remove Duplicates

In [174]:
# print(df)

In [204]:
data = {'Name': ['       ishwori Poudel ', 'naveen Bhatt       ', ' prabin Mishra         ', ' utsav Bardewa'],
        'Email': ['ishwori@mbust.edu.np', 'naveen@mbust.edu.np', 'prabin@mbust.edu.np', 'utsav@mbust.edu.np'],
        'Phone': ['123-456-7890', '555-123-4567', '9860-4519-3-2', ''],
        'Address': ['Palpa', 'Kanchanpur', None, None]}

df = pd.DataFrame(data)

# Identify and handle missing values
df['Address'] = df['Address'].fillna('Unknown')

#  Apply string cleaning operations
df['Name'] = df['Name'].str.strip()
df['Name'] = df['Name'].str.capitalize()
df['Phone'] = df['Phone'].str.replace('-', '')
df['Email'] = df['Email'].str.split('@').str[1]

# Verify the cleaned data
print(df)
# print(df.isnull())

             Name         Email       Phone     Address
0  Ishwori poudel  mbust.edu.np  1234567890       Palpa
1    Naveen bhatt  mbust.edu.np  5551234567  Kanchanpur
2   Prabin mishra  mbust.edu.np  9860451932     Unknown
3   Utsav bardewa  mbust.edu.np                 Unknown

In [ ]:
Using median calculations and IQR, outliers are identified and these data points should be removed
Q1 = df["column_name"].quantile(0.25)
Q3 = df["column_name"].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[df["column_name"].between(lower_bound, upper_bound)]